<div class="row">
  <span class="btn {{readingScene ? 'btn-disabled' : 'btn-default'}} btn-file">
    <span>Open file</span>
    <input type="file" title="Open file" value="{{file}}" on-change="openFile" disabled="{{readingScene}}" >
  </span>
  <button type="button" class="btn btn-primary" on-click="startRendering" disabled="{{!scene || !camera || rendering}}">Start</button>
  <button type="button" class="btn btn-danger" on-click="stopRendering" disabled="{{!rendering}}">Stop</button>
</div>

<div class="row">
</div>

<div class="row">
  <div class="col-md-9">
  <div id="prerender">
    <div id="Stats-output"></div>
    <!-- Div which will hold the Output of three.js -->
    <div id="WebGL-output"></div>
  </div>

    <img id="render_image" src="{{imageData}}"/>
  </div>
  <div class="col-md-3">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="renderer" class="control-label col-md-6">Renderer</label>
        <div class="col-md-6">
          <select class="form-control" id="renderer" value='{{renderer}}' on-change="changeRenderer">
            {{#each allRenderers}}
              <option>{{this}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      {{#each rendererParams:key}}
        {{>paramPartial}}
      {{/each}}
    </form>

  </div>
</div>

<div class="row">
  <textarea class="logs" value="{{logs}}" readonly></textarea>
</div>

{{#partial paramPartial}}
  {{#if type}}
    <div class="form-group">
      <label for="{{key}}" class="control-label col-md-6">
        <div class="param-key pull-right">{{key}}</div>
      </label>
      <div class="col-md-6">
        <input type="number" class="param-field" id="{{key}}" value="{{.value}}"/>
      </div>
    </div>
  {{else}}
    {{#each this:key}}
      {{>paramPartial}}
    {{/each}}
  {{/if}}
{{/partial}}